body {
	height: 100%;
}

.vertical-center {
	text-align: center;
}

#profile-pic {
	float: none;
	display: inline-block;
	max-width: 50%;
	min-width: 150px;
	height: auto;
}

#footer-center {
	text-align: center;
}