<!-- Loading home page, header extends -->

{% extends "personal/header.html" %}

{% block content %}

<div class="jumbotron vertical-center">
  <div class="container container-fluid">
    <h4 class="display-4">Michael Toriello</h4>
    <h4 class="display-5 font-italic">Software Engineer:</h4><p class="lead font-italic">Passion for Developing Data-Driven, Full-Stack Applications</p>
  </div>
  <hr>
</div>
<div class='container-fluid vertical-center'>
  <h5 class="font-italic font-bold">Hey, Welcome to my website!</h5>
  <br>
  <p class="home-text">
    My name is Michael Toriello, and I am an Electrical and Computer Engineer based in Jersey City, NJ eager to transition my talents towards designing and deploying data-driven applications. With 3 years of experience in the telecom industry as an engineer, I understand the importance of translating data into an insightful, and interactive visual-experience.<br><br>

    I have top level talent building backend servers and scripting quantitative analysis in Python using libraries such as Pandas, Flask, Django, SQLAlchemy, and sklearn. I'm fluent with the front-end development tools HTML + CSS + Javascript, using js libraries such as D3, Leaflet, Plotly.js, Charts.js, and a working knowledge of jQuery and React. I also have project experience performing ETL on datasets into SQL/NoSQL databases. However my strongest talent is quickly adapting to new frameworks or languages to effectively solve a problem at hand. Throughout my career, I have gone from zero-to-hero in areas such as Big-Data, Quantitative Analysis, APIs, ETL, Web Development, BI Tools, and most importantly Programming.<br><br>

    Please check out some of my latest work (including this page) in the following links:<br><br>
    <a class="project-link" href="https://global-attacks-analytics.herokuapp.com/" target="https://global-attacks-analytics.herokuapp.com/"><strong>Interactive Cluster Map of Global Terroristic Attacks from 1970-2017</strong></a><br>
    <a class="project-link" href="https://mtoriello0725-the-artilyzer.herokuapp.com/" target="https://mtoriello0725-the-artilyzer.herokuapp.com/"><strong>The Artilyzer: A Visualization of your favorite musician's styles and attributes</strong></a><br>
    <span id="dots">...</span></p>
  <p class="home-text">
    <span id="more">
      I started my professional career out of Rutgers University in New Brunswick, NJ with a Bachelor's Degree in Electrical and Computer Engineering. Having interned at Verizon Wireless in Tempe, AZ I decided to pursue a Network Engineering opportunity with Nokia. Throughout my 2.5 years there I became a subject matter expert traveling to Verizon offices to leverage performance/simulation data and design antenna tower modification to impove the user experience.<br><br>

      As of mid 2017, I have decided to move forward with my career and explore more challenging and innovative territories. In my previous work, I developed a big fascination with big data and how that data is portrayed through the modern toolkit. I started self-teaching myself the basics of Python and building applications. Soon my fascination became my passion and I began gathering datasets though API calls and creating simple Machine Learning models.<br><br>

      I felt at this point I needed some proper Software Engineering guidance, and so I decided to join the Rutgers Data Science Bootcamp. This is a 6 month program geared towards working professionals to gain the Data Science and Development skills needed to become a professional software engineer. 
      <a id="underline-course" class="project-link-detailed" href="https://bootcamp.rutgers.edu/data/" target="https://bootcamp.rutgers.edu/data/"><u>Here is the curriculum for the course.</u></a><br><br>

      Since starting this course, I have spent numerous hours constructing passionate personal projects. As a project for class, I collaborated with a couple classmates to create a 
      <a class="project-link-detailed" href="https://global-attacks-analytics.herokuapp.com/" target="https://global-attacks-analytics.herokuapp.com/"><u>Interactive Cluster Map of Global Terroristic Attacks from 1970-2017.</u></a> 
      This project uses public government data to display markers with hover-text for every attack by year. We used the Python framework flask on the backend with front-end libraries D3.js, charts.js, and leaflet.js. We also used a MongoDB hosted by MLab to store and retrieve datasets.<br><br>

      On my own personal time, I have created <a class="project-link-detailed" href="https://mtoriello0725-the-artilyzer.herokuapp.com/" target="https://mtoriello0725-the-artilyzer.herokuapp.com/"><u>The Artilyzer: A Visualization of your favorite musician's styles and attributes.</u></a> I consider myself a music enthusiast, and I always appreciate when musicians are able to explore new sounds and different genres. My goal was to create a visual interface to describe how diverse an artist is using data from Spotify's Web API. My program allows a user to search for any artist, and it displays graphs depicting danceability, energy, valence (if music is happy/sad), and other attributes such as most common tempo, and key signature.<br><br>

      Thank you for taking an interest to learn about my career and recent work. I am always developing and am always happy to collaborate on new projects. Please feel free to contact me by email at mtoriello0725@gmail.com if you would like to get in touch.

    </span>
  </p>
</div>
<div class="text-center">
  <button onClick="readMore()" id="readMoreBtn" class="btn btn-xl btn-outline-dark ">
    <span class="fa fa-angle-down icon-2x"  aria-hidden="true"></span>
  </button>
</div>

<!-- {% include "personal/includes/htmlsnippet.html" %} -->
{% endblock %}